page{
	background: #F2F2F2;
}

.head_box{
	margin:60upx auto 20upx auto;
	width: 120upx;
	border-radius: 100%;
	overflow: hidden;
}

.head_box > image{
	width: 100%;
	height: 0;
	display: block;
}

.head_desc{
	width: 100%;
	text-align: center;
	font-size: 28upx;
	color: #999999;
}

.input_phone{
	display: block;
	margin:60upx auto 120upx auto;
	outline:none;
	border:none;
	border-bottom: 1upx solid #999999;
	width: 500upx;
	height: 60upx;
	font-size: 30upx;
	color: #333333;
}

.bind_ok{
	width: 120upx;
	height: 40upx;
	background: #42AE3C;
	border-radius: 10upx;
	text-align: center;
	line-height: 40upx;
	font-size: 24upx;
	color: #fff;
	margin:10upx auto 5upx auto;
}