page{
	background:#f6f6f6;
}

.phone_block{
	width: 720upx;
	margin:120upx auto 0 auto;
	height: auto;
}

.phone_input{
	width: 540upx;
	height: auto;
	margin: auto;
}

.phone_line{
	width: 100%;
	height: 100upx;
	border-bottom: 1upx solid #ccc;
	position: relative;
}

.phone_line > input{
	width: 62%;
	height: 50upx;
	font-size: 28upx;
	position: absolute;
	bottom: 12upx;
	left: 0;
}

.check_code{
	width: 140upx;
	height: 50upx;
	position: absolute;
	right: 0;
	font-size: 24upx;
	text-align: center;
	line-height: 48upx;
	bottom: 12upx;
	color:#7a37c5;
	border:1upx solid #7a37c5;
	box-sizing: border-box;
	border-radius: 6upx;
}

.check_code.wait{
	width: 180upx;
	color:#999;
	border: 1upx solid #999;
}

.grey_btn{
	background:#dddddd;
	color: #999999;
}

.next_btn{
	margin-top: 100upx;
}