.top_free_child{
	width: 100%;
	height: auto;
	line-height: 1.5;
	padding:10upx 20upx 0 20upx;
	box-sizing: border-box;
}

.img_part{
	display: block;
	margin: auto;
}

.img_part.one{
	width: 150upx;
	height: 0;
	margin-top: 30upx;
}

.img_part.full{
	width: 750upx;
	height: 0;
}

.word_info{
	width: 700upx;
	margin:20upx auto;
	font-size: 26upx;
	text-align: justify;
	letter-spacing: 2upx;
	line-height: 1.5;
}